<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/_header.html' %}

    {% block head %}{% endblock %}

    {% include 'includes/_javascript.html' %}
</head>

<body>
    <div class="container">
        {% include 'includes/_messages.html' %}

        {% block body %}{% endblock %}
    </div>{# <!-- ./container for content --> #}

    {% include 'includes/_footer.html' %}
</body>
</html>