{% extends 'layouts/main.html' %}

{% block body %}
    <div class="row">
        <div class="jumbotron text-center">
            <h1>Welcome to the Dublyn Bykes Project!</h1>

            <p class="lead">Visit the Bike/ Station Info. page for up-to-the-minute Dublin bikes availabilty and bike-station occupancy information.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>About the Dublyn Bykes Project</h1>

            <p class="text-centered">The Dublyn Bykes Project is a simple web application built upon the Flask micro-framework for Python.  The original is available from <a href="#">GitLab</a>.</p>
        </div>
    </div>
{% endblock %}