{% extends 'layouts/main.html' %}

{% block head %}
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC37EaBZ12U8CyiY6Dep-cSUYNpoxtmtOk&callback=pullGoogleMap' type='text/javascript' async defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-9"><h1>Dublin Bike Availability &amp Bike-Station Occupancy Information</h1></div>

        <div class="col-md-3">
            {% if stations == [] %}
                 <h4 class="text-center">Last Updated: </h4>
            {% else %}
                <h4 class="text-center">Last Updated: {{ stations.0.created_at }}</h4>
            {% endif %}

            <div class="text-center">
                <form action="/operations/pull" method="POST">
                    <button type="submit" class="btn btn-primary btn-block">Update Now
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </form>
            </div>
        </div>
    </div><!-- ./row -->

    <hr>

    <div class="row" onload='pullGoogleMap()'>
        <div class="col-md-6">

            <h3 class="text-center">Bike Station Occupancy Map</h3>
            <p class="text-center">Markers indicate bike station locations.  Marker colour indicates each station's current occupancy rates.  Select a marker for more detailed information or view the Bike Station Occupancy Data Table.</p>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="label label-success">Green</span> : high bike/ low stand availability.
                    <span class="label" id="label-custom">Yellow</span> : medium bike/ stand availability.
                    <span class="label label-danger">Red</span> : low bike/ high stand availability.
                </div>

                <div class="panel-body">
                    <div id="googleMap"></div>
                </div><!-- ./panel body -->
            </div><!-- ./panel -->
        </div><!-- ./col-md-6 -->

        <div class="col-md-6">
            <div class="text-center">
                <h3>Bike Station Occupancy Data Table</h3>
                <!-- <p class="text-center">Table shows latest bike station occcupancy rates, ordered alphabetically.</p> -->
                {{ pagination.info }}
                <!-- {{ pagination.links }} -->
            </div>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">Bike Station ID#</th>
                            <th class="col-md-5">Bike Station Address</th>
                            <th class="col-md-2">No. of Bikes Available</th>
                            <th class="col-md-2">No. of Free Bike-Stands</th>
                         </tr>
                    </thead>

                    <tbody>
                    {% if stations == [] %}
                        <tr>
                            <td></td>
                            <td>Please choose 'update now'.</td>
                        </tr>
                    </tbody>
                    {% else %}
                        <tbody>
                            {% for station in stations %}
                            <tr>
                                <!-- <td class="col-md-1">{{ loop.index + (page - 1) * per_page }}</td> -->
                                <td class="col-md-1">{{ station.station_number }}</td>
                                <td class="col-md-5"><a href="station/{{ station.station_number }}">{{ station.address }}</a></td>
                                <td class="col-md-2">{{ station.bikes }}</td>
                                <td class="col-md-2">{{ station.stands }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    {% endif %}
                </table>
            </div><!-- ./table responsive -->

            <div class="text-center">
                {{ pagination.links }}
            </div>
        </div><!-- ./col.md-6 -->
    </div><!-- ./row -->
{% endblock %}

{% block js %}
    {% if active_url %}
        $('#{{ active_url }}').addClass('active');
    {% else %}
        $('#stations-url').addClass('active');
    {% endif %}
{% endblock %}